
@{
    ViewBag.Title = "Slider";
}

<h2>Slider</h2>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Table</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="slider">
                        <ul class="slides" :style="style">
                            <li v-for="(slide,i) in playslides" :key="i">
                                <div class="img" v-bind:style="{ 'background-image': 'url(' + slide.img + ')' }"></div>
                            </li>
                        </ul>
                        <ul class="indicators">
                            <li v-for="(slide,i) in slides" :key="i" v-on:click="selectSlide(i)" :class="i==current ? 'active' : null">
                                <div class="item">
                                    <span class="title">{{slide.title}} </span>
                                    <p class="mark"> <a :href=slide.link>  {{slide.mark}}</a> </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var slider = new Vue({
        el: ".slider",
        data: {
            slides: [
                {
                    link: '/Home/BindClass',
                    img: 'https://images.unsplash.com/photo-1496550848045-55fd98791b7e?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=',
                    title: "title 1",
                    mark: "mark"
                },
                {
                    link: '',
                    img: 'https://images.unsplash.com/photo-1474767821094-a8fe9d8c8fdd?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=',
                    title: "title 2",
                    mark: "mark"
                },
                {
                    link: '',
                    img: "https://images.unsplash.com/photo-1495073613335-7af8e711f273?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=",
                    title: "title 3",
                    mark: "mark"
                },
                {
                    link: '',
                    img: "https://images.unsplash.com/photo-1466150036782-869a824aeb25?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=",
                    title: "title 4",
                    mark: "mark"
                }
            ],
            playslides: [],
            current: 0,
            timer: 0,
            interval: 0,
            progress: 0,
            duration: 3000
        },
        computed: {
            style() {
                switch (this.current % 2) {
                    case 0:
                        return { top: "0" };
                    case 1:
                        return { top: "-100%" };
                }
            }
        },
        methods: {
            selectSlide(i) {
                this.current = i;
                this.playslides[i % 2] = this.slides[i];
                this.resetPlay();
            },
            process() {
                this.current++;
                if (this.current >= this.slides.length) {
                    this.current = 0;
                }
                this.playslides[this.current % 2] = this.slides[this.current];
                this.resetPlay();
            },
            resetPlay() {
                clearInterval(this.interval);
                clearInterval(this.progress);
                this.play();
            },
            stop() {
                clearInterval(this.interval);
                clearInterval(this.progress);
            },
            play() {
                this.timer = new Date().getTime();
                this.interval = setInterval(this.process, this.duration);
            }
        },
        created: function created() {
            this.playslides[0] = this.slides[0];
            this.playslides[1] = this.slides[1];
            this.play();
        }
    });
</script>


<style type="text/css">
    .slider {
        position: relative;
        z-index: 1;
        overflow: hidden;
        height: 100vh;
    }

        .slider ul {
            list-style: none;
        }

            .slider ul.slides {
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                transition: top 800ms;
            }

                .slider ul.slides li {
                    height: 100%;
                }

                    .slider ul.slides li .img {
                        height: 100%;
                        background-size: cover;
                        background-position: 50%;
                    }

            .slider ul.indicators {
                position: absolute;
                padding-right: 40px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                text-align: right;
            }

                .slider ul.indicators li {
                    clear: both;
                }

                    .slider ul.indicators li .item {
                        position: relative;
                        margin-bottom: 16px;
                        float: right;
                    }

                    .slider ul.indicators li:last-child .item {
                        margin-bottom: 0;
                    }

                    .slider ul.indicators li .title {
                        color: #fff;
                        cursor: pointer;
                        font-size: 16px;
                        font-family: 'SegoeUI-Bold';
                        transition: font-size 0.6s ease-out;
                    }

                    .slider ul.indicators li .mark {
                        color: #fff;
                        font-family: 'SegoeUI-Semilight';
                    }

                    .slider ul.indicators li .dot {
                        position: absolute;
                        top: 50%;
                        right: -20px;
                        margin-top: -5.5px;
                        margin-left: 10px;
                        width: 11px;
                        height: 11px;
                        background: #fff;
                        border-radius: 50%;
                    }

                    .slider ul.indicators li.active .title {
                        transition: font-size 0.6s ease-in;
                        font-size: 36px;
                        font-family: 'SegoeUI-Light';
                    }

                    .slider ul.indicators li.active .progress .fill {
                        height: 100%;
                        background: #fff;
                    }
</style>